@using SimpleSign.Enums
@model UsuarioModel
@{
    ViewData["Title"] = "Criar Usuario";
}
<div>

<h1 class="display-4"> Cadastrar Usuario</h1>


  </div>

  <form asp-controller="Usuario" asp-action="Criar" method="post">

  <div class="form-group">
    <label for="nome"> Nome</label>
    <input type="text" asp-for="Nome" class="form-control"  placeholder="Digite o nome do Usuario">
    @Html.ValidationMessageFor(x => x.Nome)

  </div>
    <div class="form-group">
    <label for="email"> E-mail </label>
    <input type="text" asp-for="Email"class="form-control"  placeholder="Digite ou e-mail do Usuario">
       @Html.ValidationMessageFor(x => x.Email)
  </div>
  
    <div class="form-group">
    <label for="nome"> Login</label>
    <input type="text" asp-for="Login" class="form-control"  placeholder="Digite o Login do Usuario">
    @Html.ValidationMessageFor(x => x.Login)

    <div class="form-group">
    <label for="nome" class="form-label"> Perfil </label>
    <select asp-for="Perfil"class="form-control">
        <option value="0"> selecione</option>
        <option value="@PerfilEnum.Admin"> Administrador</option>
        <option value="@PerfilEnum.Pdrao"> Padrao</option>
    </select>
  </div>

  <div class="form-group">
    <label for="nome"> Senha</label>
    <input type="text" asp-for="Senha" class="form-control"  placeholder="Digite a senha do Usuario">
    @Html.ValidationMessageFor(x => x.Senha)
    </div>
  <br />
  <button type="submit" class="btn btn-primary">Adicionar</button>

  <a class="btn btn-secondary"  asp-controller="Contato" asp-action="Index" role="button"> Voltar</a>

</form>